*{
  
  font-family: 'Courier New', Courier, monospace;

}

body{
  padding: 60px;
 
}

input {
  color: green;
  width: 100%;
  font-size: 1.2rem;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


